h1 {
    animation: aparece 2s;
}

@keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.citacao-bio {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    padding: 20px;
    margin: 20px 40px;
    width: 250px;
    box-sizing: border-box;
    transition: transform 1s, box-shadow 1s;
    transition-delay: 0s, 1s;
    position: relative;
    animation: quica 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes quica {
    from {
        top: 0;
    }

90%{
    transform: rotate(-2deg);
}
95%    {
    transform: rotate(2deg);
}
    to {
        top: 1em;
    }
}

blockquote:nth-of-type(even) {
    float: left;
    margin-left: 0;
}

blockquote:nth-of-type(odd) {
    float: right;
    margin-right: 0;
}

.citacao-bio:hover,
.citacao-bio:focus {
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
    animation-play-state: paused;
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus {
    transform: rotate(-5deg) scale(1.2);
}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus {
    transform: rotate(5deg) scale(1.2);
}

.container>p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}

.citacao-bio::before {
    content: ' " ';
    position: absolute;
    font-size: 1000%;
    color: #bbb;
    line-height: .8;
}

.citacao-bio>p {
    position: relative;
}

.habilidades th {
    font-weight: bold;
    background-color: #851944;
    color: white;
}

.habilidades thead th {
    /* não precisamos colocar font-weight e color
       pois já fizemos isso para todos os th */
    background-color: #3C1D3D;
}

.habilidades td {
    background-color: #eee;
}

.habilidades th,
.habilidades td {
    padding: 1em;
}

.habilidades {
    border-collapse: separate;
    border-spacing: .25em;
}

.habilidades {
    margin: 1em 0;
}

.habilidades [colspan] {
    text-align: center;
    font-style: italic;
}

.habilidades [rowspan] {
    vertical-align: middle;
}