body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}


h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h2{
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 40px;
	clear: both
}

.container{
	text-align: center;
}
main h1 {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
	font-size: 60px;
	text-transform: uppercase;
	margin: 0;
}

p {
	text-align: justify;
	margin: 30px 0;
}

blockquote{
	background-color: #D9E5E3;
	padding: 16px;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
	float: right;
}

.citacao-fiat{
	 float: right;
	 margin: 20px
}

.citacao-petrobras{
	float: left;
	margin-right: 20px
   }


main div{
	margin-left: auto;
	width: 720px;
	margin: auto;
	padding: 30px;
	padding-bottom: 80px;

}

main{
	float: left;
	width: 85%;
}

aside {
	background-color: #3c1d3d;
	color: #F2FFFC;
	text-align: center;
	padding: 20px;
	font-family: "Open San Condensed", sans-serif;
	width: 15%;
	position: relative;
	top: 310px;
}


aside, .minha-foto{
	float: right;
	clear: right;
	box-sizing: border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

.minha-foto{
	position: absolute;
	top: 0px;
	right: 0px;
}

.icones-sociais li {
	display: inline-block;
}

.icones-sociais a {
	display: inline-block;

	text-indent: -9999px;
	width: 40px;
	height: 40px;
}

.github{
	background-image: url(github.png);
}

.twitter{
	background-image: url(twitter.png)
}

.linkedin{
	background-image: url(linkedin.png);
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

nav{
	text-transform: lowercase;
}

nav h1{
	margin-top: 30px;
	margin-bottom: 25px
}

nav a {
	color: inherit;
	text-decoration: black;
}

nav ul li{
	list-style: none;
}

footer{
	background-color: #000;
	color: #F2FFFC;
	padding: 20px;
	clear: both;
	position: fixed;
	bottom: 0px;
	width: 100%;


}
